<div class="container">
    <form>
        <h5 style="background-color: black; color: white;">Captura la infomracion con(*) son obligatorios</h5>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">ID*</label>
          <input type="number" class="form-control" name="id" aria-describedby="emailHelp"[(ngModel)]="marca.id" readonly>
          <div id="emailHelp" class="form-text">Ingrese el valor unico de registro id.</div>
        </div>

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">NOMBRE *</label>
            <input type="text" class="form-control" name="nombre" aria-describedby="emailHelp"[(ngModel)]="marca.nombre"readonly>
            <div id="emailHelp" class="form-text">Ingrese el nombre de la marca.</div>
          </div> 

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">ORIGEN*</label>
            <input type="text" class="form-control" name="origen" aria-describedby="emailHelp"[(ngModel)]="marca.origen"readonly>
            <div id="emailHelp" class="form-text">Ingrese el PAIS DE ORIGEN.</div>
          </div>

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">ESLOGAN *</label>
            <input type="text" class="form-control" name="eslogan" aria-describedby="emailHelp"[(ngModel)]="marca.eslogan"readonly>
            <div id="emailHelp" class="form-text">Ingrese el eslogan.</div>
          </div>

        

        <br>
        <br>
        <br>

        <button type="submit" class="btn btn-primary"(click)="eliminar()">ELIMINAR</button>
      </form>
</div>